<h2>Add a new Trip</h2>
<div class="row">
  <div class="span6 offset3">
	<%= form_for @trip, html: { multipart: true, class: 'standard' } do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  <div>
	    <%= f.label :picture, "Upload your Picture"%>
	    <%= f.file_field :picture %>
	  </div>

	  <div>
	    <%= f.label :description %>
	    <%= f.text_field :description %>
	  </div>


	  <div>
	    <%= f.label :description %>
	    <%= f.text_area :description, :size => "10x10", placeholder: "Add a description here....."%>
	  </div>

	  <div>
	    <%= f.label :startdate %>
	    <%= f.text_field :startdate %>
	  </div>

	  <div>
	    <%= f.label :enddate %>
	    <%= f.text_field :enddate %>
	  </div>

	  <div class="options">
	  <%= f.radio_button :purpose, 'business' %>
	  <%= f.label :pupose, 'business' %>
	  <%= f.radio_button :purpose, 'pleasure' %>
	  <%= f.label :purpose, 'pleasure' %>
	</div>

	  <div>
	    <%= f.submit "Submit your trip" %>
	  </div>
	<% end %>
	<div>
</div>